<div class="container">
  <div class="card card-products">
    <div class="card-header">
      <h4 class="text-center">Productos</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div
          class="col-md-6 col-xs-12 text-center"
          *ngFor="let item of productoService.productos"
        >
          <div class="card">
            <div class="card-header">{{ item.nombre }}</div>
            <div class="card-body">
              <img
                src="{{ item.descripcion }}"
                alt="PlayStation 5"
                width="200"
                class="img-card"
              />
              <hr />
              <a href="sitio_en_construccion.html">
                <button class="btn btn-info button-card">
                  {{ item.precio }}
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
