<h1>{{ Titulo }}</h1>
<p>Fecha de hoy: {{ Fecha | date: "yyyy-MM-dd" }}</p>
<p>Fecha de hoy: {{ Fecha1 }}</p>
<p>Fecha de hoy: {{ Fecha2 }}</p>
<br />
<!--div ng-controller="agregarDia">
  Dia para agregar: <input ng-model="dia_agregar"><p>{{dia_agregar}}</p>
<br /-->
<!--button type="btn btn-primary" (click)="(agregarDia)">Agregar Día</button>
<br /-->
<br />
<button class="btn btn-primary" (click)="obtenerDia()">Obtener día</button>
<br />
<!--Llama a la función que modifica el valor interno de la variable-->
<!--ngIf-->
<p>Día Actual: {{ Dia }}</p>

<!--bindings-->
<br />
<button type="btn btn-primary" (click)="sumar()">Sumar</button>
<button type="btn btn-primary" (click)="restar()">Restar</button>
<p>{{ Contador }}</p>
<br />

<!--ngfor-->
<ul>
  <li *ngFor="let sDia of dias_semana; let i = index">
    <b *ngIf="i == Dia; else templateName">El día es {{ dias_semana[i] }}</b>
    <ng-template #templateName>
      {{ dias_semana[i] }}
    </ng-template>
  </li>
</ul>
<button class="btn btn-danger" (click)="eliminarDia()">
  Eliminar ultimo día
</button>

<p>{{ eliminado }}</p>

<!--p>Formulario con ngsubmit</p>
<form (ngSubmit)="insertar2($event)">
  <button type="submit" class="btn btn-primary">Ingresar 2</button>
</form-->

<!--p>Formulario boostrap directorio</p-->
<form (submit)="insertar()">
  <h2>Formulario</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Correo electrónico</label
    >
    <!-- con el tag del ngModel se capturan los datos para mandarlos al ts-->
    <input
      [(ngModel)]="email"
      name="email"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      Nunca compartiremos tu correo electrónico con nadie más.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Contraseña{{ password }}</label
    >
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      class="form-control"
      id="password"
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1"
      >Guardar Contraseña</label
    >
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
