<h1>{{ Titulo }}</h1>
<p>Fecha de hoy: {{ Fecha | date: "yyyy-MM-dd" }}</p>
<p>Fecha de hoy: {{ Fecha1 }}</p>
<p>Fecha de hoy: {{ Fecha2 }}</p>

<br />
<button class="btn btn-primary" (click)="obtenerDia()">Obtener día</button>
<br />
<!--Llama a la función que modifica el valor interno de la variable-->
<!--ngIf-->
<p>Día Actual: {{ Dia }}</p>

<!--bindings-->
<br />
<button type="btn btn-primary" (click)="sumar()">Sumar</button>
<button type="btn btn-primary" (click)="restar()">Restar</button>
<p>{{ Contador }}</p>
<br />

<!--ngfor-->
<ul>
  <li *ngFor="let sDia of dias_semana; let i = index">
    <b *ngIf="i == Dia; else templateName">El día es {{ dias_semana[i] }}</b>
    <ng-template #templateName>
      {{ dias_semana[i] }}
    </ng-template>
  </li>
</ul>
<button class="btn btn-danger" (click)="eliminarDia()">
  Eliminar ultimo día
</button>

<p>{{ eliminado }}</p>
